.h1_page {
    padding-top: 136px;
}
.frst_littre {
    font-weight: bold;
    font-size: 15px;
}
.about_lineheight {
    line-height: 3;
}
/* ABOUT PAGE */
/* Custom CSS grid styles */
.container_text_about_page {
    display: flex;
    flex-direction: column;
    border-left: #ff7f00 solid 5px;
    margin-left: 1.4%;
}
.text_about_page {
    width: 80%;
    margin-left: 3%;
}

/* END ABOUT PAGE */
/*  LANDING PAGE */
.titre_landing_page {
    font-size: 16px;
}
.position_landing_page {
    position: relative;
    top: -42px;
}
.phrase_eng_fr {
    line-height: 0.5;
}
.word_orange {
    color: #ff7f00;
    font-weight: bolder;
}

.calling_word {
    font-family: "Walter Haettenschweiler", sans-serif;
    font-weight: bolder;
}
.control_height {
    height: 205px;
}
.nos_service_landing {
    font-size: 32px;
    margin-bottom: 8%;
}
.container_grid_landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
}
.grid_item_landing {
    display: flex;
    flex-direction: column;
}

.grid_item_left {
    padding-top: 10px;
}
.savoir_plus {
    align-self: flex-end;
}

.inside-grid-cells-first {
    height: 26%;
}
.inside-grid-cells-second {
    height: 64%;
}
.inside-grid-cells-third {
    height: 10%;
}
@media screen and (max-width: 767px) {
    .container_grid_landing {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .titre_landing_page {
        line-height: 1.5;
    }
    
}
@media (max-width: 767px) {
    .h1_page {
        padding-top: 36px;
    }

}
/* END LANDING PAGE */
/*---------------------------CENTRE D'APPEL-----------------------------*/
.control_height_centre {
    height: 116px;
}
.container_grid_centre {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 60px;
}

.grid_item_centre {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
/* //////////////////////hover focus animaion/////////////////// */
.grid_item_centre:hover {
    transform: scale(1.2);
}
/* Add zoom-out animation on click using :target pseudo-class */
.grid_item_centre:focus {
    transform: scale(1.2);
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}

/* Hide the scrollbar when zoomed */
body:focus {
    overflow: hidden;
}

.undertext {
    background: #ffffff;
    padding: 20px;
}
.grid_item_centre p {
    padding-top: 20px;
}
/* Custom styles for the blockquote */
.blockquote {
    border-left: 5px solid #ff7f00;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.8;
    margin: 30px 0;
    position: relative;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
}

.blockquote:hover {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.read-more {
    color: #ff7f00;
}
.read-more:hover {
    text-decoration: none;
}
.contactez-link:hover {
    text-decoration: none;
}
.contactez-link {
    align-self: end;
}
.paragraphe-inside-cell {
    text-align: justify;
    color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
    .container_grid_centre {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screen sizes up to 576px (mobile phones) */
@media (max-width: 576px) {
    .container_grid_centre {
        grid-template-columns: 1fr;
    }

    .grid_item_centre:focus {
        position: static;
        transform: none;
    }

    .blockquote {
        padding-left: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}

/*---------------------------------END----------------------------------*/

/*---------------------------CAMERA DE SURVEILLANCE-----------------------------*/

.container_grid_camera {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 60px;
}

.grid_item_camera {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
/* //////////////////////hover focus animaion/////////////////// */
.grid_item_camera:hover {
    transform: scale(1.2);
}
/* Add zoom-out animation on click using :target pseudo-class */
.grid_item_camera:focus {
    transform: scale(1.2);
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}

/* Hide the scrollbar when zoomed */
body:focus {
    overflow: hidden;
}

.undertext {
    background: #ffffff;
    padding: 20px;
}
.grid_item_camera p {
    padding-top: 20px;
}
/* Custom styles for the blockquote */
.blockquote_camera {
    border-left: 5px solid #ff7f00;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.8;
    margin: 30px 0;
    position: relative;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
}

.read-more-camera {
    color: #ff7f00;
}
.read-more-camera:hover {
    text-decoration: none;
}
.contactez-link:hover {
    text-decoration: none;
}
.contactez-link {
    align-self: end;
}
.paragraphe-inside-cell {
    text-align: justify;
    color: rgb(0, 0, 0);
}
.arab_text {
    text-align: right;
    font-size: 20px;
}
/* For screen sizes from 1239px to 768px */
@media (max-width: 1239px) {
    .container_grid_camera {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 columns layout for this screen size range */
    }
}
@media (max-width: 768px) {
    .container_grid_camera {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screen sizes up to 576px (mobile phones) */
@media (max-width: 576px) {
    .container_grid_camera {
        grid-template-columns: 1fr;
    }

    .grid_item_camera:focus {
        position: static;
        transform: none;
    }

    .blockquote_camera {
        padding-left: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}
/*---------------------------------END----------------------------------*/
/*-----------------------------web mobile ------------------------------*/

.container_grid_website {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin-top: 60px;
}

.grid_item_website {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
/* //////////////////////hover focus animaion/////////////////// */
.grid_item_website:hover {
    transform: scale(1.2);
}
/* Add zoom-out animation on click using :target pseudo-class */
.grid_item_website:focus {
    transform: scale(1.2);
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}

/* Hide the scrollbar when zoomed */
body:focus {
    overflow: hidden;
}

.undertext {
    background: #ffffff;
    padding: 20px;
}
.grid_item_website p {
    padding-top: 20px;
}
/* Custom styles for the blockquote */
.blockquote_website {
    border-left: 5px solid #ff7f00;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.8;
    margin: 30px 0;
    position: relative;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
}

.read-more-camera {
    color: #ff7f00;
}
.read-more-camera:hover {
    text-decoration: none;
}
.contactez-link:hover {
    text-decoration: none;
}
.contactez-link {
    align-self: end;
}
.paragraphe-inside-cell {
    text-align: justify;
    color: rgb(0, 0, 0);
}
.arab_text {
    text-align: right;
    font-size: 20px;
}
.word_orange_website {
    color: #ff7f00;
}
/* For screen sizes from 1239px to 768px */
@media (max-width: 1239px) {
    .container_grid_website {
        grid-template-columns: repeat(
            1,
            1fr
        ); /* 2 columns layout for this screen size range */
    }
}
@media (max-width: 768px) {
    .container_grid_website {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* For screen sizes up to 576px (mobile phones) */
@media (max-width: 576px) {
    .container_grid_website {
        grid-template-columns: 1fr;
    }

    .grid_item_website:focus {
        position: static;
        transform: none;
    }

    .blockquote_website {
        padding-left: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}
/*---------------------------------END----------------------------------*/
/*---------------------------------collaboration form-------------------*/
/*-----------------------community----------------------*/
.control_height_community{
    height: 58px;
}
