.frst_littre {
    font-weight: bold;
    font-size: 15px;
}
.about_lineheight {
    line-height: 3;
}
/* ABOUT PAGE */
/* Custom CSS grid styles */
.custom_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-template-rows: 0.5fr repeat(4, 1fr);
    gap: 0; /* Adjust the gap between columns */
}

.custom_text_left {
    text-align: left; /* Center align the content within the columns */
}
.custom_h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 0px;
}
.title_div {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}
.first_div {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.second_div {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.third_div {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.fourth_div {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}
.first_div,
.second_div,
.third_div,
.fourth_div {
    border-left: 15px #8080802b solid;
    padding-left: 15px;
}
.img1,
.img2,
.img3,
.img4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .custom_container {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
}
/* END ABOUT PAGE */
/*  LANDING PAGE */
.titre_landing_page {
    font-size: 16px;
}
.position_landing_page {
    position: relative;
    top: -42px;
}
.phrase_eng_fr {
    line-height: 0.5;
}
.word_orange {
    color: #ff7f00;
    font-weight: bolder;
}

.calling_word {
    font-family: "Walter Haettenschweiler", sans-serif;
    font-weight: bolder;
}
.control_height {
    height: 282px;
}
.nos_service_landing {
    font-size: 32px;
    margin-bottom: 8%;
}
.container_grid_landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    margin-bottom: 10px;
}
.grid_item_landing {
    display: flex;
    flex-direction: column;
}

.grid_item_left {
    padding-top: 10px;
}
.savoir_plus {
    align-self: flex-end;
}

.inside-grid-cells-first {
    height: 26%;
}
.inside-grid-cells-second {
    height: 64%;
}
.inside-grid-cells-third {
    height: 10%;
}
@media screen and (max-width: 767px) {
    .container_grid_landing {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
/* END LANDING PAGE */
/*---------------------------CENTRE D'APPEL-----------------------------*/
.control_height_centre {
    height: 130px;
}
.container_grid_centre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}
.grid_item_centre_text {
    grid-column: 1/2 span;
}
.grid_item_centre {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}
.undertext{
    background-color: #EBECED;
}

/*---------------------------------END----------------------------------*/
